@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is built using MVC. NET Core as a client and gRPC. NET Core as the service. Use it freely and I am very happy if you can develop it to be even more advanced.</p>
<p>Also visit my website and personal projects at <a href="https://faridpermana7.github.io/">faridpermana7.github.io</a></p>
