@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br />to <br />gRPC Farst MVC</h1>
    <p>This is a web application MVC .NET Core which uses gRHCP as the service.</p>
</div>
