/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #007bff; 
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.modal-header {
  display: block !important;
}

li.pagination-page label {
    justify-content: left;
    position: relative;
}

.pagination-page label {
    width: auto;
    background: #007bff;
    float: right;
    border-radius: 20px;
}
 
.pagination-page label::before {
    content: "Show";
    color: #fff;
    width: 64px;
    height: 29px;   
    line-height: 29px;
    display: block;
    position: absolute;
    text-align: center;
}
.pagination-page select {
    margin: 0;
    padding: 5px 0px 5px 10px;
    float: left;
    color: #fff !important;
    background-color: #007bff !important;
    background-image: none;
    border: 0;
    text-transform: uppercase;
    border: none;
    -o-transition: all .4s;
    transition: all .4s;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 0 20px 20px 0;
}
 
/*.pagination-page > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}*/